body
{
    font: 80% arial, helvetica, sans-serif;
    margin: 0;
}

h2
{
    margin-top: 0;
}

#navigation
{
    position: absolute;
    left: 0;
    width: 15em;
}

#content
{
    border-left: 15em solid #ccf;
}