body
{
    font: 1em/1.5 arial, helvetica, sans-serif;
}

div
{
    width: 700px;
}

span
{
    background: #f99;
    padding: 0 1em;
}

em
{
    padding: 0 1em;
    background: #c00;
    color: white;
    font-weight: bold;
}