body
{
    font: 80%/1.5 arial, helvetica, sans-serif;
}

code
{
    font: bold 1em courier;
}

#second
{
    width: 7em;
    float: left;

    color: white;
    background: #060;
    padding: 1em;
    margin: 0;
}

#fourth
{
    clear: left;
    border: 1px solid black;
}