body
{
    font: 14px courier;
    background: #fff;
    color: #000;
    margin: 0;
    padding: 10px;
}

p
{
    background-color: #ccc;
    background-image: url(images/bg.gif);
    margin: 10px;
    width: 300px;
    height: 300px;
    float: left;
    text-align: center;
}

code
{
    background: white;
    padding: 0 15px 2px;
}

#p1
{
    background-repeat: repeat;
}

#p2
{
    background-repeat: no-repeat;
}

#p3
{
    background-repeat: repeat-x;
}

#p4
{
    background-repeat: repeat-y;
}

#p5
{
    background-repeat: space;
}

#p6
{
    background-repeat: round;
}

#borderCollie a
{
    display: block;
    height: 300px;
    background: white url(images/badge1.gif) center no-repeat;
    text-indent: -999em;
}