h1
{
    border-style: dashed;
    border-width: 3px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-color: red;
}

#p1
{
    border-style: groove;
    border-width: 20px;
    border-color: green;
}

#p2
{
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color: blue;

    border-left-style: inset;
    border-left-width: 5px;
    border-left-color: yellow;

    border-bottom-style: outset;
    border-bottom-width: 6px;
    border-bottom-color: violet;

    border-right-style: double;
    border-right-width: 9px;
    border-right-color: black;
}