/*
#top
{
    background-color: #ccc;
    padding: 1em;
}

h1
{
    color: #ff0;
}

p
{
    color: red;
    font-weight: bold;
}
*/

#top
{
    background-color: #ccc;
    padding: 1em;
}

#top h1
{
    color: #ff0;
}

#top p
{
    color: red;
    font-weight: bold;
}